{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {{ form.csrf_token() }}
    {% for field in form %}
        {% if field.type == "SubmitField" %}
            {{ field(class_="btn btn-primary") }}
        {% elif field.type not in ("HiddenField", "CSRFTokenField") %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field(class_="form-control") }}
                {% if field.errors %}
                <ul class="list-inline">
                    {% for error in field.errors%}
                    <li><mark>{{ error }}</mark></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% endif %}
        
    {% endfor %}
</form>
{% endblock %}